.shopmf{
    width: 100%;
    padding: 0 200px;
    h2{
        width: 100%;
        padding: 50px 0;
        text-align: center;
        font-size: 28px;
    }
    .shop-box{
        width: 100%;
        display: flex;
        gap: 100px;
        padding-bottom: 100px;
        .shop-item{
            flex: 1;
            display: flex;
            flex-direction: column;
            img{
                width: 100%;
            }
            ul{
                li{
                    a{
                        padding-bottom: 5px;
                        padding-right: 10px;
                        color: black;
                        border-bottom: 2px solid black;
                    }
                }
            }
        }
    }
    .shop-object{
        padding-bottom: 100px;
        img{
            width: 100%;
        }
        ul{
            li{
                a{
                    padding-bottom: 5px;
                    padding-right: 10px;
                    color: black;
                    border-bottom: 2px solid black;
                }
            }
        }
    }
}